<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<!-- meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/ -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>같이사냥 회원가입</title>
<!-- Bootstrap -->

<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요한) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- 모든 합쳐진 플러그인을 포함하거나 (아래) 필요한 각각의 파일들을 포함하세요 -->
<script src="/resources/bootstrap/js/bootstrap.min.js"></script>
<!-- Respond.js 으로 IE8 에서 반응형 기능을 활성화하세요 (https://github.com/scottjehl/Respond) -->
<script src="/resources/bootstrap/js/respond.js"></script>
<!-- 다음 주소 -->
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/resources/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/theme/font/NotoKRRegular.css" type="text/css">
<link rel="stylesheet" href="/resources/theme/font/simple-line-icons.css" type="text/css">
<link rel="stylesheet" href="/resources/theme/font/font-awesome.css" type="text/css">
<link href="/resources/theme/plugin/animate.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN: BASE PLUGINS  -->
<link href="/resources/theme/plugin/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<!-- END: BASE PLUGINS -->
<!-- BEGIN THEME STYLES -->
<link href="/resources/theme/plugin/plugins.css" rel="stylesheet" type="text/css" />
<link href="/resources/theme/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
<link href="/resources/theme/css/default.css" rel="stylesheet" id="style_theme" type="text/css" />
<link href="/resources/theme/css/custom.css" rel="stylesheet" type="text/css" />
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="/resources/theme/css/favicon.ico" type="image/x-icon"/> </head>
<!-- BEGIN: HEADER 시작-->
<body class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-topbar c-layout-header-topbar-collapse">
<header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
	<!-- BEGIN: INLINE NAV -->
	<div class="c-topbar c-topbar-light c-solid-bg">
   		<div class="container">
        	<!-- BEGIN: INLINE NAV -->
        	<nav class="c-top-menu c-pull-right">
            	<ul class="c-links c-theme-ul">
	                <li>
	                	<a href="/user/login">로그인</a>
	                </li>
                    <li class="c-divider">|</li>
                    <li>
                        <a href="#">회원가입</a>
                    </li>
                    <li class="c-divider">|</li>
                    <li>
                       	<a href="#">마이페이지</a>
                    </li>
                    <li class="c-divider">|</li>
                    <li>
                        <a href="#">찜목록</a>
                    </li>
                   	<li class="c-divider">|</li>
                    <li>
                        <a href="#">고객센터</a>
                    </li>
                    </ul>
			</nav>
        <!-- END: INLINE NAV -->
		</div>
	</div>
    <div class="c-navbar">
    	<div class="container">
        	<!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
            	<div class="c-brand c-pull-left">
                	<a href="/" class="c-logo">
                    	<img src="/resources/img/logo.png" alt="BuyTogether" class="c-desktop-logo">
                        <img src="/resources/img/logo.png" alt="BuyTogether" class="c-desktop-logo-inverse">
                       	<img src="/resources/img/logo_mobile.png" alt="BuyTogether" class="c-mobile-logo">
                    </a>
                        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                        	<span class="c-line"></span>
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                        </button>
                        <button class="c-topbar-toggler" type="button">
                        	<i class="fa fa-ellipsis-v"></i>
                        </button>
                        <button class="c-search-toggler" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                        <button class="c-cart-toggler" type="button">
                           	<i class="icon-user"></i>
                            <span class="c-cart-number c-theme-bg">2</span>
                        </button>
               	</div>
			<!-- END: BRAND -->
           	<!-- BEGIN: QUICK SEARCH -->
            <form class="c-quick-search" action="#">
            	<input type="text" name="query" placeholder="같이사냥 내 검색" value="" class="form-control" autocomplete="off">
           		<span class="c-theme-link">&times;</span>
          	</form>
            <!-- END: QUICK SEARCH -->
            <!-- BEGIN: HOR NAV -->
            <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
            <!-- BEGIN: MEGA MENU -->
            <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
            	<ul class="nav navbar-nav c-theme-nav">
                	<li class="c-menu-type-classic">
	                    <a href="javascript:;" class="c-link dropdown-toggle">같이사냥
	                    <span class="c-arrow c-toggler"></span>
	                    </a>
	                    <ul class="dropdown-menu c-menu-type-classic c-pull-left">
	                    	<li>
	                        	<a href="home-header-1.html">같이사냥 목록</a>
	                        </li>                                       
	                   	</ul>
                   	</li>
                   	<li class="c-menu-type-classic">
	                    <a href="javascript:;" class="c-link dropdown-toggle">정보사냥
	                    <span class="c-arrow c-toggler"></span>
	                    </a>
	                    <ul class="dropdown-menu c-menu-type-classic c-pull-left">
	                    	<li>
	                        	<a href="home-header-1.html">정보사냥 목록</a>
	                        </li>                                       
	                   	</ul>
                   	</li>
                   	<li class="c-menu-type-classic">
	                    <a href="javascript:;" class="c-link dropdown-toggle">고객센터
	                    <span class="c-arrow c-toggler"></span>
	                    </a>
	                    <ul class="dropdown-menu c-menu-type-classic c-pull-left">
	                    	<li>
	                        	<a href="home-header-1.html">같이사냥이란?</a>
	                        </li>
	                        <li>
	                        	<a href="home-header-1.html">공지사항</a>	                     
	                        </li>
	                        <li>
	                        	<a href="home-header-1.html">FAQ</a>
	                        </li> 
	                        <li>
	                        	<a href="home-header-1.html">QnA</a>
	                        </li>                                         
	                   	</ul>
                   	</li>
                   	<li class="c-menu-type-classic">
	                    <a href="javascript:;" class="c-link dropdown-toggle">마이페이지
	                    <span class="c-arrow c-toggler"></span>
	                    </a>
	                    <ul class="dropdown-menu c-menu-type-classic c-pull-left">
	                    	<li>
	                        	<a href="home-header-1.html">내 정보 보기</a>
	                        </li>
	                        <li>
	                        	<a href="home-header-1.html">내 정보 수정</a>
	                        </li> 
	                        <li>
	                        	<a href="home-header-1.html">내 사냥 목록</a>
	                        </li> 
	                        <li>
	                        	<a href="home-header-1.html">찜 목록</a>
	                        </li>                                        
	                   	</ul>
                   	</li>
                  	<!-- BEGIN: DESKTOP VERSION OF THE TAB MEGA MENU -->
                    <li class="c-search-toggler-wrapper">
                    	<a href="#" class="c-btn-icon c-search-toggler">
                        	<i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li class="c-cart-toggler-wrapper">
                    	<a href="#" class="c-btn-icon c-cart-toggler">
                        	<i class="icon-user c-cart-icon"></i>
                       		<span class="c-cart-number c-theme-bg">2</span>
                        </a>
                    </li>
				</ul>
			</nav>
			<!-- BEGIN: LAYOUT/HEADERS/QUICK-CART -->
            <!-- BEGIN: CART MENU -->
            <div class="c-cart-menu">
            	<ul class="c-cart-menu-items">
                	<li>
                    	<div class="c-cart-menu-close">
                        	<a href="#" class="c-theme-link">×</a> <!-- 알람에서삭제 -->
                         </div>
                         <img src="/resources/img/aboutus1.jpg" />
                         <div class="c-cart-menu-content">
                         	<p class="c-item-price c-theme-font">휴지 1+1 나눌 사람 구해용!</p>
                            <a href="#" class="c-item-name c-font-sbold">주소 수정</a> <!-- 조회링크로 연결 -->
                         </div>
                    </li>
                 </ul>
            </div>
            <!-- END: CART MENU -->
            <!-- END: LAYOUT/HEADERS/QUICK-CART -->
            <!-- END: MEGA MENU -->
            <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
            <!-- END: HOR NAV -->
			</div>
		</div>
    </div>
</header>
<!-- END: HEADER -->
<!-- END: HEADER 끝-->
	    <div class="c-layout-page">

		<!-- 좌우측의 공간 확보 -->
		<!-- 헤더 들어가는 부분 -->

		<!--// 헤더 들어가는 부분 -->
		<!-- 모달창 -->
		<div class="modal fade" id="defaultModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h4 class="modal-title">알림</h4>
					</div>
					<div class="modal-body">
						<p class="modal-contents"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<!--// 모달창 -->
		<hr />
		<!-- 본문 들어가는 부분 -->



		<form class="form-horizontal" role="form" method="post"
			action="javascript:alert( 'success!' );">
			<div class="form-group">
				<label for="provision" class="col-md-3 control-label" style="font-size: 16px;">회원가입약관</label>
				<div class="col-md-6" id="provision">
					<textarea class="form-control" rows="8" style="resize: none">
약관동의
                    </textarea>
					<div class="radio">
						<label> <input type="radio" id="provisionYn"
							name="provisionYn" value="Y" autofocus="autofocus" checked>
							동의합니다.
						</label>
					</div>
					<div class="radio">
						<label> <input type="radio" id="provisionYn"
							name="provisionYn" value="N"> 동의하지 않습니다.
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="memberInfo" class="col-md-3 control-label" style="font-size: 16px;">개인정보취급방침</label>
				<div class="col-md-6" id="memberInfo">
					<textarea class="form-control" rows="8" style="resize: none">
개인정보의 항목 및 수집방법
                    </textarea>
					<div class="radio">
						<label> <input type="radio" id="memberInfoYn"
							name="memberInfoYn" value="Y" checked> 동의합니다.
						</label>
					</div>
					<div class="radio">
						<label> <input type="radio" id="memberInfoYn"
							name="memberInfoYn" value="N"> 동의하지 않습니다.
						</label>
					</div>
				</div>
			</div>
			<div class="form-group" id="divId">
				<label for="inputId" class="col-md-3 control-label" style="font-size: 16px;">아이디</label>
				<div class="col-md-6">
					<input type="text" class="form-control onlyAlphabetOrNumber"
						id="id" data-rule-required="true" placeholder="아이디를 입력하세요"
						maxlength="16">
					<p class="help-block">* 아이디는 최소 6~16자이내의 알파벳, 숫자만 입력 가능</p>
				</div>
			</div>
			<div class="form-group" id="divPassword">
				<label for="inputPassword" class="col-md-3 control-label" style="font-size: 16px;">패스워드</label>
				<div class="col-md-6">
					<input type="password" class="form-control onlyAlphabetAndNumber"
						id="password" name="excludeHangul" data-rule-required="true"
						placeholder="패스워드를 입력하세요" maxlength="16">
					<p class="help-block">* 비밀번호는 최소 6~16자이내의 숫자 혹은 특수문자를 반드시 포함</p>
				</div>
			</div>
			<div class="form-group" id="divPasswordCheck">
				<label for="inputPasswordCheck" class="col-md-3 control-label" style="font-size: 16px;">패스워드
					확인</label>
				<div class="col-md-6">
					<input type="password" class="form-control" id="passwordCheck"
						data-rule-required="true" placeholder="패스워드를 확인해주세요"
						maxlength="16">
				</div>
			</div>
			<div class="form-group" id="divName">
				<label for="inputName" class="col-md-3 control-label" style="font-size: 16px;">이름</label>
				<div class="col-md-2">
					<input type="text" class="form-control onlyHangul" id="name"
						data-rule-required="true" placeholder="이름" maxlength="15">
					<p class="help-block">* 이름은 한글만 입력 가능</p>
				</div>
			</div>

			<div class="form-group" id="divNickname">
				<label for="inputNickname" class="col-md-3 control-label" style="font-size: 16px;">닉네임</label>
				<div class="col-md-2">
					<input type="text" class="form-control" id="nickname"
						data-rule-required="true" placeholder="별명" maxlength="15">
				</div>
			</div>

			<div class="form-group row">
			  <label for="inputBirthdate" class="col-md-3 control-label" style="font-size: 16px;">생년월일</label>
			  <div class="col-md-2">
			    <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
			  </div>
			</div>

			<div class="form-group">
				<label for="inputPhoneNumber" class="col-md-3 control-label" style="font-size: 16px;">성별</label>
				<div class="col-md-1">
					<select class="form-control" id="gender">
						<option value="M">남</option>
						<option value="F">여</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label for="inputaddress" class="col-md-3 control-label" style="font-size: 16px;">주소</label>
				<div class="row">
					<div class="col-md-2">
					<input type="text" id="sample6_postcode" class="form-control" placeholder="우편번호" disabled>
					</div>
					<div class="col-md-3">
			        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="btn btn-default">
			        </div>
			    </div>
			    <br>
			    <label for="inputaddress" class="col-md-3 control-label"></label>
			    <div class="row">
			        <div class="col-md-4">
			        <input type="text" id="sample6_address" class="form-control" placeholder="주소" disabled>
			        </div>
			        <div class="col-md-3">
			        <input type="text" id="sample6_address2" class="form-control" placeholder="상세주소">
			        </div>
				</div>
			</div>

			<div class="form-group" id="divPhoneNumber">
				<label for="inputPhoneNumber" class="col-md-3 control-label" style="font-size: 16px;">휴대폰
					번호</label>
				<div class="col-md-3">
					<input type="tel" class="form-control onlyNumber" id="phoneNumber"
						data-rule-required="true" placeholder="-를 제외하고 숫자만 입력하세요."
						maxlength="11">
				</div>
			</div>

			<div class="form-group" id="divEmail">
				<label for="inputEmail" class="col-md-3 control-label" style="font-size: 16px;">이메일</label>
				<div class="col-md-4">
					<input type="text" name="txtEmail_01" size="12"
						class="form-control" id="email" data-rule-required="true"
						placeholder="ex) admin@gmail.com" maxlength="20">
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-3 col-md-offset-5">
					<button type="submit"
						class="btn btn-default btn-primary btn-block signup-btn"
						id="userAddBtn">회원가입</button>
				</div>
			</div>
		</form>
		</div>


		<script>
			$(function() {
				//모달을 전역변수로 선언
				var modalContents = $(".modal-contents");
				var modal = $("#defaultModal");

				                $('.onlyAlphabetOrNumber').keyup(function(event){
				                    if (!(event.keyCode >=37 && event.keyCode<=40)) {
				                        var inputVal = $(this).val();
				                        $(this).val($(this).val().replace(/[^A-Za-z0-9+]{1,}$/gi,'')); //4자리 이상 16자리 이하, 영문과 숫자만 가능
				                    }
				                });

				//                 $('.onlyAlphabetAndNumber').keyup(function(event){
				//                     if (!(event.keyCode >=37 && event.keyCode<=40)) {
				//                         var inputVal = $(this).val();
				//                         $(this).val($(this).val().replace(/^(?=.*[a-zA-Z])((?=.*\d)|(?=.*\W)).{4,}$/gi,'')); //4자리 이상 16자리 이하, 숫자 혹은 특수문자를 반드시 포함
				//                     }
				//                 });

				$(".onlyHangul").keyup(function(event) {
					if (!(event.keyCode >= 37 && event.keyCode <= 40)) {
						var inputVal = $(this).val();
						$(this).val(inputVal.replace(/[a-z0-9]/gi, ''));
					}
				});

				$(".onlyNumber").keyup(function(event) {
					if (!(event.keyCode >= 37 && event.keyCode <= 40)) {
						var inputVal = $(this).val();
						$(this).val(inputVal.replace(/[^0-9]/gi, ''));
					}
				});

				//------- 검사하여 상태를 class에 적용
				$('#id').keyup(function(event) {

					var divId = $('#divId');

					if ($('#id').val() == "") {
						divId.removeClass("has-success");
						divId.addClass("has-error");
					} else {
						divId.removeClass("has-error");
						divId.addClass("has-success");
					}
				});

				$('#password').keyup(function(event) {

					var divPassword = $('#divPassword');

					if ($('#password').val() == "") {
						divPassword.removeClass("has-success");
						divPassword.addClass("has-error");
					} else {
						divPassword.removeClass("has-error");
						divPassword.addClass("has-success");
					}
				});

				$('#passwordCheck').keyup(function(event) {

					var passwordCheck = $('#passwordCheck').val();
					var password = $('#password').val();
					var divPasswordCheck = $('#divPasswordCheck');

					if ((passwordCheck == "") || (password != passwordCheck)) {
						divPasswordCheck.removeClass("has-success");
						divPasswordCheck.addClass("has-error");
					} else {
						divPasswordCheck.removeClass("has-error");
						divPasswordCheck.addClass("has-success");
					}
				});

				$('#name').keyup(function(event) {

					var divName = $('#divName');

					if ($.trim($('#name').val()) == "") {
						divName.removeClass("has-success");
						divName.addClass("has-error");
					} else {
						divName.removeClass("has-error");
						divName.addClass("has-success");
					}
				});

				$('#nickname').keyup(function(event) {

					var divNickname = $('#divNickname');

					if ($.trim($('#nickname').val()) == "") {
						divNickname.removeClass("has-success");
						divNickname.addClass("has-error");
					} else {
						divNickname.removeClass("has-error");
						divNickname.addClass("has-success");
					}
				});

				$('#email').keyup(function(event) {

					var divEmail = $('#divEmail');

					if ($.trim($('#email').val()) == "") {
						divEmail.removeClass("has-success");
						divEmail.addClass("has-error");
					} else {
						divEmail.removeClass("has-error");
						divEmail.addClass("has-success");
					}
				});

				$('#phoneNumber').keyup(function(event) {

					var divPhoneNumber = $('#divPhoneNumber');

					if ($.trim($('#phoneNumber').val()) == "") {
						divPhoneNumber.removeClass("has-success");
						divPhoneNumber.addClass("has-error");
					} else {
						divPhoneNumber.removeClass("has-error");
						divPhoneNumber.addClass("has-success");
					}
				});

				//------- validation 검사
				$("form")
						.submit(
								function(event) {

									var re_id = /^[A-Za-z0-9+]{6,16}$/; //아이디 검사식
									var re_pw = /^(?=.*[a-zA-Z])((?=.*\d)|(?=.*\W)).{6,16}$/; //비밀번호 검사식
									var re_mail = /^([\w\.-]+)@([a-z\d\.-]+)\.([a-z\.]{2,6})$/; //이메일 검사식

									var provision = $('#provision');
									var memberInfo = $('#memberInfo');
									var divId = $('#divId');
									var divPassword = $('#divPassword');
									var divPasswordCheck = $('#divPasswordCheck');
									var divName = $('#divName');
									var divNickname = $('#divNickname');
									var divEmail = $('#divEmail');
									var divPhoneNumber = $('#divPhoneNumber');

									//회원가입약관
									if ($('#provisionYn:checked').val() == "N") {
										modalContents
												.text("회원가입약관에 동의하여 주시기 바랍니다."); //모달 메시지 입력
										modal.modal('show'); //모달 띄우기

										provision.removeClass("has-success");
										provision.addClass("has-error");
										$('#provisionYn').focus();
										return false;
									} else {
										provision.removeClass("has-error");
										provision.addClass("has-success");
									}

									//개인정보취급방침
									if ($('#memberInfoYn:checked').val() == "N") {
										modalContents
												.text("개인정보취급방침에 동의하여 주시기 바랍니다.");
										modal.modal('show');

										memberInfo.removeClass("has-success");
										memberInfo.addClass("has-error");
										$('#memberInfoYn').focus();
										return false;
									} else {
										memberInfo.removeClass("has-error");
										memberInfo.addClass("has-success");
									}

									//아이디 검사
									if ($('#id').val() == "") {
										modalContents
												.text("아이디를 입력하여 주시기 바랍니다.");
										modal.modal('show');

										divId.removeClass("has-success");
										divId.addClass("has-error");
										$('#id').focus();
										return false;
									} else if (re_id.test($('#id').val()) != true) {
										modalContents
												.text("아이디의 작성법이 올바르지 않습니다.");
										modal.modal('show');

										divId.removeClass("has-success");
										divId.addClass("has-error");
										$('#id').focus();
										return false;
									} else {
										divId.removeClass("has-error");
										divId.addClass("has-success");
									}

									//패스워드 검사
									if ($('#password').val() == "") {
										modalContents
												.text("패스워드를 입력하여 주시기 바랍니다.");
										modal.modal('show');

										divPassword.removeClass("has-success");
										divPassword.addClass("has-error");
										$('#password').focus();
										return false;
									} else if (re_pw.test($('#password').val()) != true) {
										modalContents
												.text("패스워드의 작성법이 올바르지 않습니다.");
										modal.modal('show');

										divPassword.removeClass("has-success");
										divPassword.addClass("has-error");
										$('#password').focus();
										return false;
									} else {
										divPassword.removeClass("has-error");
										divPassword.addClass("has-success");
									}

									//패스워드 확인
									if ($('#passwordCheck').val() == "") {
										modalContents
												.text("패스워드 확인을 입력하여 주시기 바랍니다.");
										modal.modal('show');

										divPasswordCheck
												.removeClass("has-success");
										divPasswordCheck.addClass("has-error");
										$('#passwordCheck').focus();
										return false;
									} else {
										divPasswordCheck
												.removeClass("has-error");
										divPasswordCheck
												.addClass("has-success");
									}

									//패스워드 비교
									if ($('#password').val() != $(
											'#passwordCheck').val()
											|| $('#passwordCheck').val() == "") {
										modalContents.text("패스워드가 일치하지 않습니다.");
										modal.modal('show');

										divPasswordCheck
												.removeClass("has-success");
										divPasswordCheck.addClass("has-error");
										$('#passwordCheck').focus();
										return false;
									} else {
										divPasswordCheck
												.removeClass("has-error");
										divPasswordCheck
												.addClass("has-success");
									}

									//이름
									if ($('#name').val() == "") {
										modalContents
												.text("이름을 입력하여 주시기 바랍니다.");
										modal.modal('show');

										divName.removeClass("has-success");
										divName.addClass("has-error");
										$('#name').focus();
										return false;
									} else {
										divName.removeClass("has-error");
										divName.addClass("has-success");
									}

									//닉네임
									if ($('#nickname').val() == "") {
										modalContents
												.text("닉네임을 입력하여 주시기 바랍니다.");
										modal.modal('show');

										divNickname.removeClass("has-success");
										divNickname.addClass("has-error");
										$('#nickname').focus();
										return false;
									} else {
										divNickname.removeClass("has-error");
										divNickname.addClass("has-success");
									}
									
									//상세주소
									if ($('#sample6_address2').val() == "") {
										modalContents
												.text("상세주소를 입력하여 주시기 바랍니다.");
										modal.modal('show');

										divName.removeClass("has-success");
										divName.addClass("has-error");
										$('#sample6_address2').focus();
										return false;
									} else {
										divName.removeClass("has-error");
										divName.addClass("has-success");
									}

									//휴대폰 번호
									if ($('#phoneNumber').val() == "") {
										modalContents
												.text("휴대폰 번호를 입력하여 주시기 바랍니다.");
										modal.modal('show');

										divPhoneNumber
												.removeClass("has-success");
										divPhoneNumber.addClass("has-error");
										$('#phoneNumber').focus();
										return false;
									} else {
										divPhoneNumber.removeClass("has-error");
										divPhoneNumber.addClass("has-success");
									}

									//이메일
									if ($('#email').val() == "") {
										modalContents
												.text("이메일을 입력하여 주시기 바랍니다.");
										modal.modal('show');

										divEmail.removeClass("has-success");
										divEmail.addClass("has-error");
										$('#email').focus();
										return false;
									} else if (re_mail.test($('#email').val()) != true) {
										modalContents
												.text("이메일의 작성법이 올바르지 않습니다.");
										modal.modal('show');

										divEmail.removeClass("has-success");
										divEmail.addClass("has-error");
										$('#email').focus();
										return false;
									} else {
										divEmail.removeClass("has-error");
										divEmail.addClass("has-success");
									}

								});

			});

			function sample6_execDaumPostcode() {
		        new daum.Postcode({
		            oncomplete: function(data) {
		                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

		                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
		                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		                var fullAddr = ''; // 최종 주소 변수
		                var extraAddr = ''; // 조합형 주소 변수

		                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
		                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
		                    fullAddr = data.roadAddress;

		                } else { // 사용자가 지번 주소를 선택했을 경우(J)
		                    fullAddr = data.jibunAddress;
		                }

		                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
		                if(data.userSelectedType === 'R'){
		                    //법정동명이 있을 경우 추가한다.
		                    if(data.bname !== ''){
		                        extraAddr += data.bname;
		                    }
		                    // 건물명이 있을 경우 추가한다.
		                    if(data.buildingName !== ''){
		                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                    }
		                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
		                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
		                }

		                // 우편번호와 주소 정보를 해당 필드에 넣는다.
		                document.getElementById('sample6_postcode').value = data.zonecode; //5자리 새우편번호 사용
		                document.getElementById('sample6_address').value = fullAddr;

		                // 커서를 상세주소 필드로 이동한다.
		                document.getElementById('sample6_address2').focus();
		            }
		        }).open();
		    }
		</script>
		<!--// 본문 들어가는 부분 -->
		<hr />
		<!-- BEGIN: FOOTER 시작 -->
<footer class="c-layout-footer c-layout-footer-3 c-bg-dark-3">
	<div class="c-prefooter">
       	<div class="container">
	       	<div class="row">					
				<img src="/resources/img/logo_white.png" width="150" alt="" class="img-responsive" />
			</div>	
		<div class="c-container">
			<div class="col-md-9">								
				<div class="row">
					<ul class="c-links c-font-13">
						<li>                            
							<a href="#">이용약관</a>
								<span class="c-font-bold">  /  </span>
							    	<a href="#">Privacy Policy</a>
						</li>
					</ul>
				</div>
				<div class="row">
			    	<p class="c-font-13 c-font-white">대표 : 이민규  |  개발자들 : 조병찬, 남건우, 노희원, 배지은, 김성윤, 김수연, 한소희   |  개인정보보호책임자 : 배지은
			                    				|  주소 : 서울특별시 금천구 가산디지털1로 149 신한 이노플렉스 2층  |  문의전화 : 010-2974-4314 | 이메일문의 : slsrmsn@naver.com | 												
												MON - FRI  AM 10:00 ~ PM 05:00  |  LUNCH PM 12:30 ~ PM 01:30 SAT - SUNDAY / HOLIDAY OFF
					</p>
	            </div> 
			</div>	 
		</div>
	    <div class="col-md-3 c-container c-last">
	       	<div class="col-md-offset-1">	                    
	        	<div class="c-content-title-1">
		        	<h3 class="c-font-uppercase c-font-bold c-font-white">ABOUT
		            	<span class="c-theme-font c-font-bold">US</span>
		            </h3>
	            </div>         
				<ul class="c-works">
			    	<li class="c-first">
			        	<a href="#">
			            	<img src="/resources/img/aboutus1.jpg" class="img-responsive" alt="about1us" />
			            </a>
			        </li>
			        <li>
			            <a href="#">
			                <img src="/resources/img/aboutus2.jpg" class="img-responsive" alt="aboutus2" />
			            </a>
			        </li>
		            <li class="c-last">
		                <a href="#">
		                	<img src="/resources/img/aboutus3.jpg" class="img-responsive" alt="aboutus3" />
		                </a>
		            </li>
				</ul>
				</div>		                    
			</div>
		</div>     
	</div>
    <div class="c-postfooter">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6 col-sm-12 c-col">
                	<p class="c-copyright c-font-grey">2016 &copy; 같이사냥
                    	<span class="c-font-grey-3">All Rights Reserved.</span>
                    </p>
                </div>
			</div>
		</div>
	</div>          
</footer>
<!-- END: FOOTER 끝 -->
        <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
        <div class="c-layout-go2top">
            <i class="icon-arrow-up"></i>
        </div>
        <!-- END: LAYOUT/FOOTERS/GO2TOP -->
        <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
        <!-- BEGIN: CORE PLUGINS -->
        <!--[if lt IE 9]>
		<![endif]-->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="/resources/bootstrap/js/bootstrap.js" type="text/javascript"></script>
        <script src="/resources/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<!-- END: CORE PLUGINS -->
        <!-- BEGIN: LAYOUT PLUGINS -->
        <script src="/resources/bootstrap/js/bootstrap-slider.js" type="text/javascript"></script>
        <!-- END: LAYOUT PLUGINS -->
        <!-- BEGIN: THEME SCRIPTS -->
        <script src="/resources/theme/js/components.js" type="text/javascript"></script>
        <script src="/resources/theme/js/components-shop.js" type="text/javascript"></script>
        <script src="/resources/theme/js/app.js" type="text/javascript"></script>
        <script>
            $(document).ready(function()
            {
                App.init(); // init core    
            });
        </script>
        <!-- END: THEME SCRIPTS -->
        <!-- END: LAYOUT/BASE/BOTTOM -->

</body>
</html>